body {
	margin: auto;
	max-width: 2880px;
}
header {
	background-image:url(../assets/common-assets/woodtexture-4k.jpg);
	background-repeat: no-repeat;
	background-size: contain; height: 2160px;
	font-family: liquor-store, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 120pt;
	color: white;
	}
	
	
header #rainbow {
	background-image: url(../assets/common-assets/header-banner.png);
	background-repeat: no-repeat;
	background-size: contain; height: 360px;
	height: 360px;
}

#logo {
}